SPAN.text-prop { font-family: monospace; font-size: 10pt; }
SPAN.text-rule { font-family: monospace; font-size: 10pt; }

SPAN.prop { font-family: serif; }
SPAN.prop-constant { font-family: Helvetica, sans-serif; font-weight: bold; }
SPAN.prop-op { font-family: serif; }
SPAN.prop-predicate { font-family: Helvetica, sans-serif; }
SPAN.prop-variable { font-family: serif; }
SPAN.prop-quantifier { margin-right: 2px; }

SPAN.expr { font-family: serif; }
SPAN.expr-variable { font-family: Helvetica, sans-serif; }
SPAN.expr-constant { font-family: Helvetica, sans-serif; }
SPAN.expr-mult { white-space: nowrap; }
SPAN.expr-dot { white-space: nowrap; font-family: Helvetica, sans-serif; padding-left: 2px; padding-right: 2px; }

SPAN.line { font-family: Lucida Grande, sans-serif; }
SPAN.rule { font-family: Helvetica, sans-serif; }

TD.line-num { padding-right: 10px; color: #909090; text-align: right; }
DIV.line-prop { min-width: 200px; font-family: Lucida Grande, sans-serif; }
DIV.line-rule { padding: 5px; display: inline-block; font-family: Helvetica, sans-serif; }
INPUT { padding: 5px; width: 240px; }

SPAN.line-error { margin-left: 10px; margin-right: 10px; color: white; }

DIV.line-suggest {
  position: absolute;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #c0c0c0;
  background-color: #dce8f3;
  padding: 5px;
  z-index: 99;
}

BUTTON.line-remove {
  border: none;
  background: none;
  cursor: pointer;
  color: #c0c0c0;
  font-size: 16px;
  margin-left: 8px;
}

BUTTON.line-remove:hover {
  color: #303030;
}

DIV.preamble { margin-left: 20px; margin-bottom: 15px; }
DIV.preamble > DIV.alert { padding-left: 2px; margin-bottom: 0; font-family: Lucida Grande, sans-serif; font-size: 14px; }
DIV.preamble > DIV.alert b { font-family: Helvetica, sans-serif; }
DIV.summary { margin-top: 15px; }

DIV.alert-dark { display: inline-block; padding: 6px 12px; font-family: Helvetica, sans-serif; font-size: 14px; }
DIV.alert-success { display: inline-block; padding: 6px 12px; font-family: Helvetica, sans-serif; font-size: 14px; }

BUTTON.summary { margin-left: 12px; width: 130px; border-radius: 15px; font-size: 14px; }

BODY {
  padding-bottom: 200px;  /* make longer than the dropdowns in the proof */
}
