SPAN.text-prop { font-family: monospace; font-size: 10pt; }
SPAN.text-rule { font-family: monospace; font-size: 10pt; }

SPAN.prop { font-family: serif; }
SPAN.prop-constant { font-family: sans-serif; font-weight: bold; }
SPAN.prop-op { font-family: serif; }
SPAN.prop-predicate { font-family: sans-serif; }
SPAN.prop-variable { font-family: serif; }
SPAN.prop-quantifier { margin-right: 2px; }

SPAN.expr { font-family: serif; }
SPAN.expr-variable { font-family: sans-serif; }
SPAN.expr-constant { font-family: sans-serif; }
SPAN.expr-mult { white-space: nowrap; }
SPAN.expr-dot { white-space: nowrap; font-family: sans-serif; padding-left: 2px; padding-right: 2px; }

SPAN.line { font-family: sans-serif; }
SPAN.rule { font-family: sans-serif; }

TD.line-num { padding-right: 8px; }
DIV.line-prop { min-width: 200px; }
DIV.line-rule { padding: 5px; display: inline-block; }
INPUT { padding: 2px; width: 240px; }

SPAN.line-error { margin-left: 10px; margin-right: 10px; }

DIV.line-suggest {
  position: absolute;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #c0c0c0;
  background-color: #dfefff;
  padding: 5px;
  z-index: 99;
}

BUTTON.line-remove {
  padding: 6px;
  color: gray;
  border: none;
  font-size: 10pt;
}

BUTTON.line-remove:hover {
  color: black;
}

DIV.preamble > DIV.alert { padding-left: 2px; margin-bottom: 0; }
DIV.summary { margin-top: 15px; }

DIV.alert-dark { display: inline-block; padding: 6px 12px; }
DIV.alert-success { display: inline-block; padding: 6px 12px; }

BUTTON.summary { margin-left: 12px; }
BUTTON.summary { margin-left: 12px; width: 130px; }

BODY {
  padding-bottom: 200px;  /* make longer than the dropdowns in the proof */
}
